<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768723492799-p5e8fctohe7tj4ogservhok3c0rf3ll4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768723492799-p5e8fctohe7tj4ogservhok3c0rf3ll4</string>
	<key>API_KEY</key>
	<string></string>
	<key>GIPLUGIN_VERSION</key>
	<string>1</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ticketa.eg</string>
	<key>PROJECT_ID</key>
	<string>ticketa-497417</string>
	<key>STORAGE_BUCKET</key>
	<string></string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:768723492799:ios:p5e8fctohe7tj4ogservhok3c0rf3ll4</string>
</dict>
</plist>