@model Hall

<h3 class="text-lg font-bold mb-3">Create Hall</h3>

<form class="flex flex-col gap-3" id="createForm" method="post" asp-area="Admin" asp-controller="Hall" asp-action="Upsert"
      data-submit-url="/Admin/Hall/Upsert">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-error"></div>
    <input asp-for="Id" type="hidden" />

    <label class="form-control w-full">
        <span class="label-text">Name</span>
        <input asp-for="Name" type="text" class="input input-bordered w-full validator" autofocus />
        <span asp-validation-for="Name" class="validator-hint"></span>
    </label>


    <label class="form-control w-full">
        <span class="label-text">Total Seats</span>
        <input asp-for="TotalSeats" type="text" min="1" class="input input-bordered w-full validator" />
        <span asp-validation-for="TotalSeats" class="validator-hint"></span>
    </label>
    <div class="modal-action m-0">
        <label for="modal" class="btn btn-ghost">Cancel</label>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>