@model IEnumerable<Hall>
<button onclick="openModal('createForm', '/admin/hall/Upsert')" class="btn btn-primary">Create New +</button>
<table class="table table-zebra text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Seats</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hall in Model)
        {
            <tr>
                <td>@hall.Id</td>
                <td>@hall.Name</td>
                <td>@hall.TotalSeats</td>
                <td>
                    <button type="button" onclick="openModal('editForm', '/admin/hall/Upsert/@hall.Id')" class="btn btn-primary btn-outline">Edit</button>
                    <button type="button" onclick="openModal('deleteForm', '/admin/hall/DeleteConfirmation/@hall.Id')" class="btn btn-error btn-outline">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="checkbox" id="modal" class="modal-toggle" />

<div class="modal shadow-2xl" id="modal-wrapper" role="dialog" aria-modal="true">
    <div class="modal-box" id="modalContent">
        <!-- Modal content will be loaded here via JavaScript -->
    </div>
    <label class="modal-backdrop" for="modal">Close</label>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}