<!DOCTYPE HTML>
<html lang="en" data-theme="nord">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ticketa.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/Ticketa.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body class="">
    <nav class="navbar w-full bg-base-300 flex justify-between">
        <div>
            <label id="drawerToggleBtn" for="my-drawer-4" aria-label="open sidebar" class="btn btn-square btn-ghost swap swap-rotate">
                <input id="drawerSwapState" type="checkbox" class="hidden" />
                <svg class="swap-off my-1.5 inline-block size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 12h18" /><path d="M3 6h18" /><path d="M3 18h18" /></svg>
                <svg class="swap-on my-1.5 inline-block size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18" /><path d="m6 6 12 12" /></svg>
            </label>
        </div>
        <a class="btn btn-ghost text-xl" asp-area="Admin" asp-controller="Hall" asp-action="Index">
            Admin Dashboard
        </a>
        <div class="px-4 flex">
            <label class="btn btn-ghost btn-circle swap swap-rotate">
                <!-- this hidden checkbox controls the state -->
                <input id="themeToggle" type="checkbox" />

                <!-- sun icon -->
                <svg class="swap-on h-5 w-5 fill-current"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                    <path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
                </svg>

                <!-- moon icon -->
                <svg class="swap-off h-5 w-5 fill-current"
                     xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24">
                    <path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
                </svg>
            </label>
        </div>
    </nav>

    <div class="drawer lg:drawer-open h-[calc(100vh-4rem)]">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content h-full overflow-y-auto">
            <div class="p-4">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

        <div class="drawer-side is-drawer-close:overflow-visible lg:sticky lg:top-0 lg:h-[calc(100vh-4rem)]">
            <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
            <div class="flex h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
                <!-- Sidebar content here -->
                <ul class="menu w-full grow">
                    <!-- List item -->
                    <li>
                        <a class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Homepage" asp-controller="Dashboard" asp-action="Index">
                            <!-- Home icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path></svg>
                            <span class="is-drawer-close:hidden">Homepage</span>
                        </a>
                    </li>

                    <!-- List item -->
                    <li>
                        <a class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Hall" asp-controller="Hall" asp-action="Index">
                            <!-- Hall icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4"><path d="M19 9V6a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v3" /><path d="M3 16a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-5a2 2 0 0 0-4 0v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V11a2 2 0 0 0-4 0z" /><path d="M5 18v2" /><path d="M19 18v2" /></svg>
                            <span class="is-drawer-close:hidden">Hall</span>
                        </a>
                    </li>

                    <!-- List item -->
                    <li>
                        <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Settings">
                            <!-- Settings icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor" class="my-1.5 inline-block size-4"><path d="M20 7h-9"></path><path d="M14 17H5"></path><circle cx="17" cy="17" r="3"></circle><circle cx="7" cy="7" r="3"></circle></svg>
                            <span class="is-drawer-close:hidden">Settings</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="">
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/themeToggle.js" asp-append-version="true"></script>
    <script src="~/js/Modals.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        const drawerToggle = document.getElementById("my-drawer-4");
        const drawerSwapState = document.getElementById("drawerSwapState");

        const syncDrawerSwap = () => {
          drawerSwapState.checked = drawerToggle.checked;
        };

        drawerToggle.addEventListener("change", syncDrawerSwap);
        syncDrawerSwap();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
